.home {
  height: 75vh;
  padding: 0;
  margin: 0;
  color: #f9fafc;
  overflow: hidden;
}

.background {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.hero {
  position: relative;
  top: -50%;
  height: 40%;
}

.hero-title {
  font-size: 2.2rem;
  font-weight: 500;
  font-style: italic;
  color: rgb(243, 243, 243);
  text-shadow: 0px 0px 4px #3d3d3d;
}
@media screen and (max-width: 1080px) {
  .hero-title {
    font-size: 2.0rem;
  }
}

.about-blog {
  font-size: 2.0rem;
  color: whitesmoke;
  text-shadow: 0px 0px 2px #101017;
}

.social-link {
  list-style: none;
  padding: 0.2rem;
}

.social-link a {
  font-size: 2.0rem;
  color: lightblue;
  padding: 0.5rem;
}

.social-link a:hover {
  color: rgb(255, 145, 0);
  transition: all 0.3s ease-in;
}

.arrow {
  color:  rgb(243, 243, 243);
  font-size: 2.4rem;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
